
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>ABOUT US</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-fluid" src="~/content/images/about-img.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">We are <span>Klickit</span></h2>
                <p>
                    Klickit offers a comprehensive payments & fees management solution tailored to accommodate various integrations enabling any institution to deploy their custom solution with our wide array of offerings of various payment methods. We offer an insight through our automated dashboards to deliver the required KPIs & metrics reaching the desired view of the data.
                    Klickit’s driver is a passion for facilitating people’s lives. whether it’s making school fees affordable for our end users or making the processing of payments simpler for our merchants, Klickit wants to be top of mind as far as educational payment services are concerned in the MEA region.
                    To make millions of stakeholders rely on Klickit as their partner for faster and hassle-free educational payments

                </p>
                <a class="btn hvr-hover" href="#">Read More</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Trusted</h3>
                    <p>We would not have reached what we are now without your constructive and positive opinions in order to develop and always produce the best for you. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Professional</h3>
                    <p>A work team that has the highest expertise and technical levels, which greatly help in professionalism and remarkable development in a short time. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Expert</h3>
                    <p>Monitoring and correcting errors is one of the most important ways to succeed, and listening to the opinions of users helps significantly in development. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Page -->
