
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="~/Content/images/banner1.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Klickit </strong></h1>
                        <p class="m-b-40">
                            Making educational payments
                            one Klick away.
                        </p>
                        <p><a class="btn hvr-hover" href="~/Home/Shop">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/images/banner2.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Klickit </strong></h1>
                        <p class="m-b-40">
                            Making educational payments
                            one Klick away.
                        </p>
                        <p><a class="btn hvr-hover" href="~/Home/Shop">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/images/banner3.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Klickit </strong></h1>
                        <p class="m-b-40">
                            Making educational payments
                            one Klick away.
                        </p>
                        <p><a class="btn hvr-hover" href="~/Home/Shop">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="~/Content/#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="~/Content/#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->
<!-- Start Instagram Feed  -->
<div class="instagram-box">
    <div class="main-instagram owl-carousel owl-theme">
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/Content/images/banqmisr.jpg" alt="" />
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/Content/images/opay.jpg" alt="" />
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/Content/images/paymob.jpeg" alt="" />
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/Content/images/paynas.jpg" alt="" />
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/Content/images/fawry.jpg" alt="" />
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/Content/images/banqmisr.jpg" alt="" />
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/Content/images/opay.jpg" alt="" />
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/Content/images/paymob.jpeg" alt="" />
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/Content/images/paynas.jpg" alt="" />
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/Content/images/fawry.jpg" alt="" />
            </div>
        </div>
    </div>
</div>
<!-- End Instagram Feed  -->
