@model Klickit_Task.Models.User

@{
    ViewBag.Title = "Update Account";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Basic Layout & Basic with Icons -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Account /</span> Update User Account</h4>

        <div class="row">
            <!-- Basic with Icons -->
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Update Account</h5>
                    </div>
                    <div class="card-body">
                        <form method="post" action="~/Home/UpdateAccount" id="form1">
                            @Html.HiddenFor(n => n.User_ID)
                            @Html.HiddenFor(n => n.User_Password)
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">User Email</label>
                                <div class="col-sm-10">
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text">
                                            <i class='bx bx-envelope'></i>
                                        </span>
                                        @Html.TextBoxFor(n => n.User_Email, new { @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">User Role</label>
                                <div class="col-sm-10">
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text">
                                            <i class='bx bxs-map-pin'></i>
                                        </span>
                                        <select class="form-control" name="User_Role">
                                            <option value="Admin">Admin</option>
                                            <option value="User">User</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Update Account</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Content -->
